.cont {
	border:2px solid red;
	display: none;
}
tr{
	cursor: pointer;
	background: 
}
td, th {
	padding: 7px;
	border: 1px solid black;
	background: orange;
}
th:hover{
	cursor: pointer;
	background: green;  
}
td:hover{
	cursor: default;
}
table {
	border: 5px solid maroon;
}

.border{
	border: 1px solid red;
}
.mainDiv{
display: flex;
flex-direction: column;
height: 400px;
width:400px;
}
div div{
	display: flex;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	flex:1;
}
.div2{
	border:0px;
	border-left: 1px solid black;
	border-right: 1px solid black;
}
#comments{
	border:0px;
	display:inline;
}