@import url(grid.css);
@import url(autorizStl.css);
.background {
	background-size: 100% ;
	background-image: url(../pictures/heat.jpg);
	background-color: black;
	color: white;
	margin-top: 10em;
	background-repeat: no-repeat;
}

.current {
	color: orange;
}

.flex {
	display: flex;
}

nav {
    position: fixed;
    top: 0px;
    right: 5px;
    left: 5px;
}
legend {
	padding: 5px
}
.submenu {
	display: none;
}
nav ul li:hover .submenu {
	display: block;
}
#smoke {
	background-color: rgba(54, 54, 54, 0.8);
	padding: 2em;
	font-size: 20px;
	border: 2px solid black;
	border-top-left-radius: 3em 2em;
	border-top-right-radius: 3em 2em;
	border-bottom-right-radius: 3em 2em;
	border-bottom-left-radius: 3em 2em;

}
body {
	background-color: black;
}
/*как-то сделать статичную картинку бакграунда*/
nav, footer {
    clear: both;
    color: white;
    background-color: black;
    min-height: 70px;
    font-family: Georgia, times, serif;
    line-height: 1.7em;
}

nav ul {
	margin: 0px;
	padding: 5px 0px 5px 30px;
}

nav li {
	display: inline;
	margin-right: 40px;
}

nav ul li ul li {
	float: none;
	width: 100%
}
nav li a {
	color: white;
}

p {
	text-indent: 3em;
}

.container {
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 5em;
    display: flex;
    color: white;
    flex-direction:  column;
}
.flex-container {
	display: flex;
}
.border {
    box-sizing: border-box;
    padding: 1em;
}
.border-2 {
	border: 1px solid white;
	box-sizing: border-box;
	padding: 10px
}
.border-3 {
    box-sizing: border-box;
    padding: 1em;
}
.row-container {
	display: flex;
}

.flex-1 {
	flex:1 ;
}
.film-img {
	height: 300px;
	padding-right: 15px;
	padding-left:15px;
}