@import url(grid.css);
@import url(autorizStl.css);
.background {
	background-image: url(../pictures/heat.jpg);
	background-color: black;
	color: white;
	margin-top: 10em;
}

.current {
	color: orange;
}

nav {
    position: fixed;
    top: 0px;
    right: 5px;
    left: 5px;
}

.submenu {
	display: none;
}
nav ul li:hover .submenu {
	display: block;
}
#smoke {
	background-color: rgba(158, 158, 158, 0.3);
}
body {
	background-color: black;
}
/*как-то сделать статичную картинку бакграунда*/
nav, footer {
    clear: both;
    color: white;
    background-color: black;
    min-height: 70px;
    font-family: Georgia, times, serif;
    line-height: 1.7em;
}

nav ul {
	margin: 0px;
	padding: 5px 0px 5px 30px;
}

nav li {
	display: inline;
	margin-right: 40px;
}

nav ul li ul li {
	float: none;
	width: 100%
}
nav li a {
	color: white;
}

